#!/usr/bin/env zsh
## configuration file for devuan-minimal-live blend

vars+=(username userpass default_shell mkefi grubversion hookscripts)
arrs+=(custom_deb_packages)

blend_name="devuan-minimal-live_"

release="ascii"
mirror="http://pkgmaster.devuan.org/merged"
section="main contrib non-free"

username="devuan"
userpass="devuan"
default_shell="/bin/bash"

# comment to disable:
#hookscripts="yes"

# uncomment to create uefi-bootable iso
#MKEFI=1
#efi_work="$BLENDPATH/efi-files"

#grubversion="grub-pc"
#grubversion="grub-efi-amd64"

base_packages_option=(--no-install-recommends)
extra_packages_option=(--no-install-recommends)

release_conf="$BLENDPATH/$release/config"

### package sets are defined in the corresponding $release/config file

source $release_conf

## image_name depends on release and version

image_name="${os}_${release}_${version}_${arch}_minimal"
